body {
  margin: 0 auto;
  background-color: grey;
}

.max-height {
  height: 500px;
}

.min-height {
  height: 250px;
}

.elements-gride {
  margin: 0 auto;
}

.logo {
  width: 70%;
  background-color: #eaebe3;
}

.side {
  width: 30%;
  background-color: #7acec3;
}

.projects {
  width: 30%;
  background-color: #ebb240;
}

.fondue {
  width: 40%;
  background-color: #ffffff;
}

.potter {
  width: 30%;
  background-color: #e0e1da;
}

.tabano {
  width: 30%;
  background-color: #eaeaea;
}

.louis {
  width: 20%;
  background-color: #6b7c89;
}

.middle {
  width: 50%;
  background-color: #eaeaea;
}

.fiji {
  width: 30%;
  background-color: #ffffff;
}

.sesann {
  width: 50%;
  background-color: #ffffff;
}

.alessi {
  width: 20%;
  background-color: #cecece;
}

.timeline {
  width: 30%;
  background-color: #ebb240;
}

.studio {
  width: 30%;
  background-color: #ff9b6d;
}

.end {
  width: 70%;
  background-color: #eaeaea;
}

.stuff-first, .stuff-end {
  width: 50%;
  background-color: #eaeaea;
}

.side {
  background-image: url("../img/method-draw-image.svg");
  i {
    border: 3px solid #fff;
    padding: 30px;
    font-size: 45px;
    margin: 50px 0 20px 115px;
  }
  overflow: hidden;
}
.wrap{
  display: flex;
  color: #fff;
  position: relative;
  height: 500px;

  .first{
    p{
      padding-left: 65px;
    }
  }

  .second{
    position: absolute;
    bottom: 120px;
    left: 140px;
  }
}

